* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background: #f4f7fa;
      color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    h1 {
      color: #007bff;
      margin-bottom: 20px;
    }

    section {
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 30px;
      width: 100%;
      max-width: 450px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 30px;
      text-align: center;
    }

    label {
      font-weight: 600;
    }

    input, button {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
    }

    button {
      background: #007bff;
      color: white;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background: #0056b3;
    }
/* toaster notification */
    #toast {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: rgb(92, 221, 92);
      text-align: center;
      border-radius: 8px;
      padding: 16px;
      position: fixed;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
      opacity: 0;
      transition: opacity 0.5s, bottom 0.5s;
    }

    #toast.show {
      visibility: visible;
      opacity: 1;
      bottom: 50px;
    }
   